* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.bg-pink {
    background: #FF4A8F;
}

.bg-white {
    background: #FFF;
}

section {
    padding: 5%;
    background: #001B33;
    color: #FFF;
    width: 100%;
    display: flex;
}

#activite,
#projet,
#contact {
    flex-direction: column;
}

#activite,
#contact {
    height: 100vh;
}

#projet {
    min-height: 100vh;
}

/* header */

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

header ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    height: 8vh;
    align-items: center;
}

header li {
    list-style-type: none;
}

header li a {
    text-decoration: none;
    color: #fff;
    letter-spacing: 3px;
}

/* 1ère SECTION */

#bgImg {
    background: url(./img/background.jpg) no-repeat center center;
}

.firstSection {
    color: #000;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.firstSection a {
    color: #fff;
    text-decoration: none;
    background: #2980b9;
    padding: 15px;
    font-size: 25px;
    border-radius: 10px;
    margin-top: 20px;
}

/* 3ème SECTION */

.contentProject {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}

.project {
    width: 200px;
    background: #fff;
    border-radius: 5px;
    margin: 10px 0;
}

.imageProject img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.titleProject {
    padding: 15px 0;
}

.titleProject a {
    text-decoration: none;
    color: #000;
}

/* CONTACT */

#contact {
    color: #000;
}

#contact form {
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 5px;
}

.form-group input,
.form-group textarea {
    width: 100% !important;
    background: #ccc;
    border: 0;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
}

.form-group {
    margin: 5px 0;
}

.btn {
    padding: 10px;
    background: #FF4A8F;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    transition: all .5s ease;
    margin-top: 20px;
}

.btn:hover {
    background: #27ae60;
}

textarea {
    resize: none;
}